<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        body{
            margin: 0;
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: default;
        }
        h1{
            margin: 5px;
            font-size: 4em;
        }
        h2{
            font-size: 2em;
            font-family: monospace;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <h2>Page could not be found.</h2>
</body>
</html>