<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the pool, the doodpool</title>
    <style>
        body{
            margin: 0;
            height: 100vh;
            width: 100vw;
            background-image: radial-gradient(circle, white, black);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img{
            width: 75%;
        }
    </style>
</head>
<body>
    <img src="graphics/deadpoollogo.png" alt="the pool of dooth">
</body>
</html>