*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: whitesmoke;
}
header{
    cursor: default;
    background-color: lightgrey;
    padding: 5px;
    border-bottom: 5px solid black;
}
header h1{
    margin-left: 25px;
}

nav{
    display: flex;
    margin: 0;
    border-bottom: 1px solid black;
}
nav ul{
    padding: 0;
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0;
}
nav ul a{
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    flex-grow: 1;
    text-align: center;
    background-color: gray;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
nav ul a:hover{
    background-color: hsl(0, 0%, 83%);
}
nav #logo{
    flex-grow: 0;
    background-color: white;
    cursor: default;
    border: 1px solid black;
}

main{
    margin: 10px;
}
.container{
    background-color: ghostwhite;
    border: 2px solid;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    &:hover{
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.44);
    }
}
.container h3{
    margin-top: 5px;
    cursor: default;
}
.container a{
    color: black;
    &:hover{
        color: hsl(240, 80%, 69%);
    }
}
.inputContainer{
    background-color: bisque;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.inputContainer input{
    flex-grow: 1;
    margin-left: 10px;
    height: 30px;
}
.inputContainer select{
    flex-grow: 1;
    margin-left: 10px;
    height: 30px;
    cursor: pointer;
}
.inputContainer button{
    background-color: beige;
    height: 30px;
    border: 1px solid;
    cursor: pointer;
    &:hover{
        background-color: hsl(60, 56%, 95%);
    }
    &:active{
        background-color: hsl(60, 56%, 100%);
    }
}
table{
    width: 100%;
    border: 1px dashed;
    background-color: black;
}
th{
    background-color: hsl(159, 100%, 95%);
    padding: 10px;
}
td{
    background-color: aliceblue;
    padding: 6px;
    height: 20px;
}

footer{
    background-color: hsl(0, 1%, 77%);
    margin: 0;
    padding: 3px;
    border-top: 1px dotted;
}